<p>this is {{title}}</p>
<h1>{{pageTitle()}}</h1>
<p>{{isTrue?'correct':'wrong'}}</p>
<div>hello from angular</div>
<div>+++++++++++++++++++++++++++++</div>
<input [value]="email"><br><br>
<input [value]="emailMethed()"><br><br>
<input [value]="!isheader?'correct':'wrong'">
<div>+++++++++++++++++++++++++++++</div>

<p [class]="headerClass">it's first angular page</p>
<p [class.bold]="isheader">it's first angular page</p>
<p [ngClass]="{header:isheader,bold:!isheader,italic:isheader}">class binding</p>
<p [ngClass]="headerMethod()">class binding</p>
<div>+++++++++++++++++++++++++++++</div>

<p [style.color]="!isheader?'red':'blue'">it's single</p>
<p [ngStyle]="{color:isheader?'red':'orange', textDecoration:!isheader?'overline':'underline'}">multi style</p>
<p [ngStyle]="{color:'blue', textDecoration:'overline'}">multi style</p>
<div [ngStyle]="multiStyle()" >multi style</div>
<div [ngStyle]="extraStyle" >multi style</div>
<div>+++++++++++++++++++++++++++++</div>

<button (click)=" toggle()">toggle</button>
<div>+++++++++++++++++++++++++++++</div>
<p *ngIf="isheader">Show this only if "show" is true</p>
<ng-container
  *ngIf="isheader; then loggedIn; else loggedOut">
</ng-container>

<ng-template #loggedIn>
  <div>
    Welcome back, friend.
  </div>
</ng-template>
<ng-template #loggedOut>
  <div>
    Please friend, login.
  </div>
</ng-template>

 <ul>
  <li *ngFor="let product of PRODUCTS">
      <h2>{{product.name}} </h2>
      <p> {{product.description}} </p>
  </li>
  </ul> 


  

<div [ngSwitch] = "day()">

<div *ngSwitchCase = 0>Today is Sunday! </div>

<div *ngSwitchCase = '1'><h3>Today is Monday</h3></div>

<div *ngSwitchCase = '2'><h3>Today is Tuesday</h3></div>

<div *ngSwitchCase = '3'><h3>Today is Wednesday</h3></div>

<div *ngSwitchCase = '4'><h3>Today is Thursday</h3></div>

<div *ngSwitchCase = '5'><h3>Today is Friday</h3></div>

<div *ngSwitchCase = '6'><h3>Today is Saturday </h3></div>

</div>  




